<div class="app-view">
  <header>
    <h1>Component Hardware</h1>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        {{#if user.isAdmin}}
          <li><a href="/realTime">RealTime</a></li>
        {{/if}}
        <li><a href="/products">Products</a></li>
        <li><a href="/cart/{{user.cart}}" id="cartLink">Cart <span id="cartCounter" class="cartCounter"></span></a></li>
      </ul>
    </nav>
  </header>

  <section class="welcome">
    <div class="welcome-message">
      <h2>{{user.firstName}}</h2>
      <p>{{user.email}}</p>
      <p>{{user.role}}</p>
    </div>
    <div class="logout">
      <a href="/api/sessions/logout">Cerrar sesión</a>
    </div>
  </section>

  <h1>Listado de productos</h1>
  <h2>Categorías</h2>
  <ul class="categories-list">
    <li><a href="/products">Todos los productos</a></li>
    <li><a href="/products?category=processor">Procesadores</a></li>
    <li><a href="/products?category=graphic-card">Tarjetas Gráficas</a></li>
    <li><a href="/products?category=ram-memory">Memorias RAM</a></li>
    <li><a href="/products?category=storage">Almacenamiento</a></li>
  </ul>

  <section class="productsContainer">
    {{#each dataProducts.payload}}
      <article class="card_body">
        <picture class="card_image_container">
          <img src={{this.thumbnail}} />
        </picture>
        <div class="card_info_container">
          <h3>{{this.title}}</h3>
          <p>${{this.price}}</p>
          <p>{{this.description}}</p>
        </div>
        <div class="card_button_container">
          <button class="add-to-cart-button" data-product-id="{{this._id}}">Agregar al carrito</button>
        </div>
      </article>
    {{/each}}
  </>

  {{#if prevLink}}
    <a href="{{prevLink}}">Anterior</a>
  {{/if}}

  {{#if nextLink}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartCounter.js"></script>
<script src="/js/products.js" ></script>

